.name-container {
    width: 60%;
    margin: 0 auto;
    height: 60px;
    background-color: rgba(0,0,0,.6);
    color: #C5C1C0;
    border-radius: 20px;
    text-align: center;
    border: 1px solid white;
    display: block;
}

.dashboard-spacing {
    margin: 1% 5%;
}

.room-name {
    display:block;
    text-align: center;
}
.create-room {
    background-color: rgba(0,0,0,.6);
    color: #C5C1C0;
    border-radius: 20px;
    border: 1px solid white;
    padding: 1% 5%;
}

.spacing {
    width: 100%;
    margin: 1% 0;
    height: 3px;
    background-color: white;
}
.dj-btn {
    height: 50px;
    background: 0;
    color: white;
    border-radius: 10px;
    margin: 0 5%;
}
.playlist {
    padding: 0 5%;
    margin: 2% 0;
    text-align: left;
}

.input-label {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.input-text {
    background: 0;
    outline: 0;
    color: white;
    margin-bottom: 20px;
    /* border: 0;
    border-bottom: 2px;
    border-color: white;
    border-style: solid; */
    border-radius: 7px;
    width: 100%;
}

.input-btn {
    display: block;
    background-color: transparent;
    color: white;
    margin: 0 auto;
    border-radius: 7px;
}

hr {
    width: 100%;
    background-color: white;
    height: 3px;
}

.active-song {
    background-color: grey;
    color: black;
}